{
  "openapi": "3.0.0",
  "info": {
    "contact": {
      "email": "trento-project@suse.com",
      "name": "Trento Project",
      "url": "https://www.trento-project.io"
    },
    "description": "Easing your life in administering SAP application. Trento is an open-source web application, built by SUSE, to enhance day-2 operations of SAP workloads. It can be used to proactively prevent infrastructural issues by diagnosing common issues, validate systems configuration against best practices, and remove toil from routine OS tasks on mission-critical systems.",
    "license": {
      "name": "Apache 2.0",
      "url": "https://www.apache.org/licenses/LICENSE-2.0"
    },
    "title": "Trento",
    "version": "2.5.0"
  },
  "servers": [
    {
      "description": "This is the Trento demo server, provided for testing and demonstration purposes.",
      "url": "https://demo.trento-project.io",
      "variables": {}
    }
  ],
  "tags": [
    {
      "description": "Handles communication with agents and collects data from managed systems in the infrastructure.",
      "name": "Agent",
      "x-displayName": "Agent"
    },
    {
      "description": "Manages authentication, user login, and session lifecycle for secure access to the platform.",
      "name": "Auth",
      "x-displayName": "Auth"
    },
    {
      "description": "Provides monitoring and visualization of host performance metrics and system health over time.",
      "name": "Charts",
      "x-displayName": "Charts"
    },
    {
      "description": "Offers features for running automated checks and validations to ensure system compliance and reliability.",
      "name": "Checks",
      "x-displayName": "Checks"
    },
    {
      "description": "Exposes endpoints as tools for Model Context Protocol (MCP) integration, enabling those endpoints to be consumed by any LLM.",
      "name": "MCP",
      "x-displayName": "MCP"
    },
    {
      "description": "Supports a variety of operations for SAP systems and infrastructure, including resource management and workflow execution.",
      "name": "Operations",
      "x-displayName": "Operations"
    },
    {
      "description": "Gives access to core Trento Platform capabilities and general platform information for users and administrators.",
      "name": "Platform",
      "x-displayName": "Platform"
    },
    {
      "description": "Allows users to view and update their personal profile information and preferences within the platform.",
      "name": "Profile",
      "x-displayName": "Profile"
    },
    {
      "description": "Enables configuration and management of platform-wide settings, including integrations and environment options.",
      "name": "Settings",
      "x-displayName": "Settings"
    },
    {
      "description": "Facilitates resource tagging and organization to improve searchability and logical grouping of assets.",
      "name": "Tags",
      "x-displayName": "Tags"
    },
    {
      "description": "Provides access to information and management features for the discovered target infrastructure resources.",
      "name": "Target Infrastructure",
      "x-displayName": "Target Infrastructure"
    },
    {
      "description": "Handles user account creation, permissions, and administrative controls for managing platform users.",
      "name": "User Management",
      "x-displayName": "User Management"
    },
    {
      "description": "Endpoints for managing and executing checks, including configuration and results retrieval.",
      "name": "Wanda Checks",
      "x-displayName": "Wanda Checks"
    },
    {
      "description": "Endpoints for accessing Wanda Platform features.",
      "name": "Wanda Platform",
      "x-displayName": "Wanda Platform"
    }
  ],
  "paths": {
    "/api/healthz": {
      "get": {
        "callbacks": {},
        "description": "Retrieves the overall health status of the Trento Web platform, including database connectivity and service availability. Use this endpoint to verify system health for diagnostics and monitoring purposes.",
        "operationId": "TrentoWeb.HealthController.health",
        "parameters": [],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/2.5.0_Health"
                }
              }
            },
            "description": "A successful health check response providing the current status of the Trento Web platform, including database connectivity and service availability for diagnostics and monitoring."
          }
        },
        "security": [],
        "summary": "Trento Web health.",
        "tags": [
          "Platform"
        ]
      }
    },
    "/api/public_keys": {
      "get": {
        "callbacks": {},
        "description": "Retrieves all uploaded public keys for secure authentication and integration, supporting infrastructure security and access control.",
        "operationId": "TrentoWeb.V1.SettingsController.get_public_keys",
        "parameters": [],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/2.5.0_PublicKeys"
                }
              }
            },
            "description": "A comprehensive list of all uploaded public keys for secure authentication and integration."
          }
        },
        "summary": "Get uploaded public keys.",
        "tags": [
          "Settings",
          "MCP"
        ],
        "security": [
          {
            "authorization": []
          }
        ]
      }
    },
    "/api/readyz": {
      "get": {
        "callbacks": {},
        "description": "Performs a readiness check to determine if the Trento Web application is operational and able to serve requests. This endpoint is useful for monitoring and automation systems.",
        "operationId": "TrentoWeb.HealthController.ready",
        "parameters": [],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/2.5.0_Ready"
                }
              }
            },
            "description": "A successful readiness check indicating that the Trento Web application is operational and ready to serve requests. Useful for monitoring and automation systems."
          }
        },
        "security": [],
        "summary": "Trento Web ready.",
        "tags": [
          "Platform"
        ]
      }
    },
    "/api/session": {
      "post": {
        "callbacks": {},
        "description": "Retrieve the access and refresh token for api interactions, returns two jwt tokens.",
        "operationId": "TrentoWeb.SessionController.create",
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "additionalProperties": false,
                "description": "User login credentials schema.",
                "example": {
                  "password": "thepassword",
                  "username": "admin"
                },
                "properties": {
                  "password": {
                    "example": "thepassword",
                    "type": "string"
                  },
                  "totp_code": {
                    "example": "123456",
                    "type": "string"
                  },
                  "username": {
                    "example": "admin",
                    "type": "string"
                  }
                },
                "type": "object"
              }
            }
          },
          "description": "Login request containing user credentials for authentication and token issuance.",
          "required": false
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "description": "Successful authentication returns access and refresh tokens for secure API usage. The response includes token expiration details and is suitable for session management.",
                  "example": {
                    "access_token": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhdWQiOiJ0cmVudG8tcHJvamVjdCIsImV4cCI6MTY3MTU1NjY5MiwiaWF0IjoxNjcxNTQ5NDkyLCJpc3MiOiJodHRwczovL2dpdGh1Yi5jb20vdHJlbnRvLXByb2plY3Qvd2ViIiwianRpIjoiMnNwOGlxMmkxNnRlbHNycWE4MDAwMWM4IiwibmJmIjoxNjcxNTQ5NDkyLCJ1c2VyX2lkIjoxfQ.frHteBttgtW8706m7nqYC6ruYtTrbVcCEO_UgIkHn6A",
                    "expires_in": 600,
                    "refresh_token": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhdWQiOiJ0cmVudG8tcHJvamVjdCIsImV4cCI6MTY3MTU1NjY5MiwiaWF0IjoxNjcxNTQ5NDkyLCJpc3MiOiJodHRwczovL2dpdGh1Yi5jb20vdHJlbnRvLXByb2plY3Qvd2ViIiwianRpIjoiMnNwOGlxMmkxNnRlbHNycWE4MDAwMWM4IiwibmJmIjoxNjcxNTQ5NDkyLCJ1c2VyX2lkIjoxfQ.frHteBttgtW8706m7nqYC6ruYtTrbVcCEO_UgIkHn6A"
                  },
                  "properties": {
                    "access_token": {
                      "example": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9...",
                      "type": "string"
                    },
                    "expires_in": {
                      "example": 600,
                      "type": "integer"
                    },
                    "refresh_token": {
                      "example": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9...",
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "Authentication result with access and refresh tokens for secure API usage."
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/2.5.0_Unauthorized"
                }
              }
            },
            "description": "A detailed error response indicating that access to the requested operation is denied due to missing or invalid authentication credentials."
          },
          "422": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/2.5.0_UnprocessableEntity"
                }
              }
            },
            "description": "A detailed error response indicating that the server cannot process the request due to semantic errors, such as invalid or missing values in the payload."
          }
        },
        "security": [],
        "summary": "Platform login.",
        "tags": [
          "Auth"
        ]
      }
    },
    "/api/session/refresh": {
      "post": {
        "callbacks": {},
        "description": "Generate a new access token from a valid refresh token.",
        "operationId": "TrentoWeb.SessionController.refresh",
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "description": "Refresh token credentials for getting new access token.",
                "example": {
                  "refresh_token": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhdWQiOiJ0cmVudG8tcHJvamVjdCIsImV4cCI6MTY3MTU1NjY5MiwiaWF0IjoxNjcxNTQ5NDkyLCJpc3MiOiJodHRwczovL2dpdGh1Yi5jb20vdHJlbnRvLXByb2plY3Qvd2ViIiwianRpIjoiMnNwOGlxMmkxNnRlbHNycWE4MDAwMWM4IiwibmJmIjoxNjcxNTQ5NDkyLCJ1c2VyX2lkIjoxfQ.frHteBttgtW8706m7nqYC6ruYtTrbVcCEO_UgIkHn6A"
                },
                "properties": {
                  "refresh_token": {
                    "example": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9...",
                    "type": "string"
                  }
                },
                "type": "object"
              }
            }
          },
          "description": "Request containing refresh token for obtaining new access credentials.",
          "required": false
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "description": "A valid refresh token returns new access credentials for continued secure API usage. The response includes updated token expiration information for session management.",
                  "example": {
                    "access_token": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhdWQiOiJ0cmVudG8tcHJvamVjdCIsImV4cCI6MTY3MTU1NjY5MiwiaWF0IjoxNjcxNTQ5NDkyLCJpc3MiOiJodHRwczovL2dpdGh1Yi5jb20vdHJlbnRvLXByb2plY3Qvd2ViIiwianRpIjoiMnNwOGlxMmkxNnRlbHNycWE4MDAwMWM4IiwibmJmIjoxNjcxNTQ5NDkyLCJ1c2VyX2lkIjoxfQ.frHteBttgtW8706m7nqYC6ruYtTrbVcCEO_UgIkHn6A",
                    "expires_in": 600
                  },
                  "properties": {
                    "access_token": {
                      "example": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9...",
                      "type": "string"
                    },
                    "expires_in": {
                      "example": 600,
                      "type": "integer"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "Refreshed authentication result with new access token for continued secure API usage."
          }
        },
        "security": [],
        "summary": "Platform access token refresh.",
        "tags": [
          "Auth"
        ]
      }
    },
    "/api/session/{provider}/callback": {
      "post": {
        "callbacks": {},
        "description": "Authenticate against an external authentication provider.",
        "operationId": "TrentoWeb.SessionController.callback",
        "parameters": [
          {
            "description": "Identity provider name.",
            "in": "path",
            "name": "provider",
            "required": true,
            "schema": {
              "example": "oauth2_local",
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "description": "User identity provider enrollment credentials with authorization code.",
                "example": {
                  "code": "kyLCJ1c2VyX2lkIjoxfQ.frHteBttgtW8706m7nqYC6ruYt",
                  "session_state": "frHteBttgtW8706m7nqYC6ruYt"
                },
                "properties": {
                  "code": {
                    "example": "kyLCJ1c2VyX2lkIjoxfQ.frHteBttgtW8706m7nqYC6ruYt",
                    "type": "string"
                  },
                  "session_state": {
                    "example": "frHteBttgtW8706m7nqYC6ruYt",
                    "type": "string"
                  }
                },
                "required": [
                  "code",
                  "session_state"
                ],
                "type": "object"
              }
            }
          },
          "description": "Request containing identity provider credentials and authorization code for external authentication.",
          "required": false
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "description": "Successful authentication with an external identity provider returns access and refresh tokens for secure platform usage. The response is suitable for federated identity management and session handling.",
                  "example": {
                    "access_token": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhdWQiOiJ0cmVudG8tcHJvamVjdCIsImV4cCI6MTY3MTU1NjY5MiwiaWF0IjoxNjcxNTQ5NDkyLCJpc3MiOiJodHRwczovL2dpdGh1Yi5jb20vdHJlbnRvLXByb2plY3Qvd2ViIiwianRpIjoiMnNwOGlxMmkxNnRlbHNycWE4MDAwMWM4IiwibmJmIjoxNjcxNTQ5NDkyLCJ1c2VyX2lkIjoxfQ.frHteBttgtW8706m7nqYC6ruYtTrbVcCEO_UgIkHn6A",
                    "refresh_token": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhdWQiOiJ0cmVudG8tcHJvamVjdCIsImV4cCI6MTY3MTU1NjY5MiwiaWF0IjoxNjcxNTQ5NDkyLCJpc3MiOiJodHRwczovL2dpdGh1Yi5jb20vdHJlbnRvLXByb2plY3Qvd2ViIiwianRpIjoiMnNwOGlxMmkxNnRlbHNycWE4MDAwMWM4IiwibmJmIjoxNjcxNTQ5NDkyLCJ1c2VyX2lkIjoxfQ.frHteBttgtW8706m7nqYC6ruYtTrbVcCEO_UgIkHn6A"
                  },
                  "properties": {
                    "access_token": {
                      "example": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9...",
                      "type": "string"
                    },
                    "refresh_token": {
                      "example": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9...",
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "Authentication result from external identity provider with access and refresh tokens."
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/2.5.0_Unauthorized"
                }
              }
            },
            "description": "A detailed error response indicating that access to the requested operation is denied due to missing or invalid authentication credentials."
          }
        },
        "security": [],
        "summary": "Platform external IDP callback.",
        "tags": [
          "Auth"
        ]
      }
    },
    "/api/session/{provider}/saml_callback": {
      "get": {
        "callbacks": {},
        "description": "Authenticates the user against an external authentication provider using SAML, enabling single sign-on and federated identity management for secure platform access.",
        "operationId": "TrentoWeb.SessionController.saml_callback",
        "parameters": [
          {
            "description": "The name of the SAML identity provider to use for authentication. This value should match a configured provider.",
            "in": "path",
            "name": "provider",
            "required": true,
            "schema": {
              "example": "saml",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "description": "Authentication using SAML returns access and refresh tokens for secure platform access. The response supports single sign-on and federated identity management for user sessions.",
                  "example": {
                    "access_token": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhdWQiOiJ0cmVudG8tcHJvamVjdCIsImV4cCI6MTY3MTU1NjY5MiwiaWF0IjoxNjcxNTQ5NDkyLCJpc3MiOiJodHRwczovL2dpdGh1Yi5jb20vdHJlbnRvLXByb2plY3Qvd2ViIiwianRpIjoiMnNwOGlxMmkxNnRlbHNycWE4MDAwMWM4IiwibmJmIjoxNjcxNTQ5NDkyLCJ1c2VyX2lkIjoxfQ.frHteBttgtW8706m7nqYC6ruYtTrbVcCEO_UgIkHn6A",
                    "refresh_token": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhdWQiOiJ0cmVudG8tcHJvamVjdCIsImV4cCI6MTY3MTU1NjY5MiwiaWF0IjoxNjcxNTQ5NDkyLCJpc3MiOiJodHRwczovL2dpdGh1Yi5jb20vdHJlbnRvLXByb2plY3Qvd2ViIiwianRpIjoiMnNwOGlxMmkxNnRlbHNycWE4MDAwMWM4IiwibmJmIjoxNjcxNTQ5NDkyLCJ1c2VyX2lkIjoxfQ.frHteBttgtW8706m7nqYC6ruYtTrbVcCEO_UgIkHn6A"
                  },
                  "properties": {
                    "access_token": {
                      "example": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9...",
                      "type": "string"
                    },
                    "refresh_token": {
                      "example": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9...",
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "Authentication result using SAML identity provider with access and refresh tokens for platform access."
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/2.5.0_Unauthorized"
                }
              }
            },
            "description": "A detailed error response indicating that access to the requested operation is denied due to missing or invalid authentication credentials."
          },
          "422": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/2.5.0_UnprocessableEntity"
                }
              }
            },
            "description": "A detailed error response indicating that the server cannot process the request due to semantic errors, such as invalid or missing values in the payload."
          }
        },
        "security": [],
        "summary": "Platform external SAML IDP callback.",
        "tags": [
          "Auth"
        ]
      }
    },
    "/api/v1/clusters": {
      "get": {
        "callbacks": {},
        "description": "Retrieves a comprehensive list of all Pacemaker Clusters discovered on the target infrastructure, supporting monitoring and management tasks for administrators.",
        "operationId": "TrentoWeb.V1.ClusterController.list",
        "parameters": [],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/2.5.0_v1_PacemakerClustersCollection"
                }
              }
            },
            "description": "Comprehensive list of all Pacemaker Clusters discovered on the target infrastructure for monitoring and management."
          }
        },
        "summary": "List Pacemaker Clusters.",
        "tags": [
          "Target Infrastructure"
        ],
        "security": [
          {
            "authorization": []
          }
        ]
      }
    },
    "/api/v1/hosts/{id}/exporters_status": {
      "get": {
        "callbacks": {},
        "description": "Returns the status of Prometheus exporters for a specific host, identified by its unique ID, supporting health monitoring and diagnostics for infrastructure components.",
        "operationId": "TrentoWeb.V1.PrometheusController.exporters_status",
        "parameters": [
          {
            "description": "Unique identifier of the host for which Prometheus exporter status is requested. This value must be a valid UUID string.",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "example": "d59523fc-0497-4b1e-9fdd-14aa7cda77f1",
              "format": "uuid",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/2.5.0_v1_PrometheusExporterStatus"
                }
              }
            },
            "description": "Status information for Prometheus exporters on the specified host, supporting health monitoring and diagnostics."
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/2.5.0_v1_NotFound"
                }
              }
            },
            "description": "A detailed error response indicating that the requested resource could not be found, including information about the reason for the missing resource."
          }
        },
        "summary": "Get prometheus exporters status.",
        "tags": [
          "Target Infrastructure",
          "MCP"
        ],
        "security": [
          {
            "authorization": []
          }
        ]
      }
    },
    "/api/v1/clusters/{cluster_id}/checks": {
      "post": {
        "callbacks": {},
        "description": "Allows users to select which Checks are eligible for execution on a specific cluster within the target infrastructure, supporting custom validation workflows.",
        "operationId": "TrentoWeb.V1.ClusterController.select_checks",
        "parameters": [
          {
            "description": "Unique identifier of the cluster for which Checks selection is being performed. This value must be a valid UUID string.",
            "in": "path",
            "name": "cluster_id",
            "required": true,
            "schema": {
              "example": "c1a2b3c4-d5e6-7890-abcd-ef1234567890",
              "format": "uuid",
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/2.5.0_v1_ChecksSelectionRequest"
              }
            }
          },
          "description": "Checks Selection.",
          "required": false
        },
        "responses": {
          "202": {
            "content": {
              "application/json": {
                "schema": {
                  "example": {},
                  "properties": {},
                  "type": "object"
                }
              }
            },
            "description": "Selected checks for the cluster have been successfully collected and are ready for execution."
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/2.5.0_v1_BadRequest"
                }
              }
            },
            "description": "A detailed error response indicating a bad request, including information about the client-side issue encountered."
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/2.5.0_v1_NotFound"
                }
              }
            },
            "description": "A detailed error response indicating that the requested resource could not be found, including information about the reason for the missing resource."
          },
          "422": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/2.5.0_v1_UnprocessableEntity"
                }
              }
            },
            "description": "A detailed error response indicating that the server cannot process the request due to semantic errors, such as invalid or missing values in the payload."
          }
        },
        "summary": "Select Checks for a Cluster.",
        "tags": [
          "Checks"
        ],
        "security": [
          {
            "authorization": []
          }
        ]
      }
    },
    "/api/v1/sap_systems/{id}/operations/{operation}": {
      "post": {
        "callbacks": {},
        "description": "Submits a request to perform a specific operation on a SAP system, such as restart or configuration change, supporting automated infrastructure management.",
        "operationId": "TrentoWeb.V1.SapSystemController.request_operation",
        "parameters": [
          {
            "description": "Unique identifier of the SAP system on which the operation will be performed. This value must be a valid UUID string.",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "example": "d59523fc-0497-4b1e-9fdd-14aa7cda77f1",
              "format": "uuid",
              "type": "string"
            }
          },
          {
            "description": "Specifies the type of operation to be performed on the SAP system, such as restart or configuration change.",
            "in": "path",
            "name": "operation",
            "required": true,
            "schema": {
              "example": "restart",
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/2.5.0_v1_SapSystemOperationParams"
              }
            }
          },
          "description": "Request containing parameters for the specified SAP system operation, such as restart or configuration change.",
          "required": false
        },
        "responses": {
          "202": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/2.5.0_v1_OperationAccepted"
                }
              }
            },
            "description": "A detailed response indicating that the requested operation has been accepted for processing, including confirmation and tracking information."
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/2.5.0_v1_Forbidden"
                }
              }
            },
            "description": "A detailed error response indicating forbidden access, including information about insufficient permissions and why the operation could not be performed."
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/2.5.0_v1_NotFound"
                }
              }
            },
            "description": "A detailed error response indicating that the requested resource could not be found, including information about the reason for the missing resource."
          },
          "422": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/2.5.0_v1_UnprocessableEntity"
                }
              }
            },
            "description": "A detailed error response indicating that the server cannot process the request due to semantic errors, such as invalid or missing values in the payload."
          }
        },
        "summary": "Request operation for a SAP system.",
        "tags": [
          "Operations"
        ],
        "security": [
          {
            "authorization": []
          }
        ]
      }
    },
    "/api/v1/settings/api_key": {
      "get": {
        "callbacks": {},
        "description": "Retrieves the current settings for API key generation, including expiration and configuration details, supporting secure access management.",
        "operationId": "TrentoWeb.V1.SettingsController.get_api_key_settings",
        "parameters": [],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/2.5.0_v1_ApiKeySettings"
                }
              }
            },
            "description": "A comprehensive set of API key settings and configuration details for secure access management."
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/2.5.0_v1_NotFound"
                }
              }
            },
            "description": "A detailed error response indicating that the requested resource could not be found, including information about the reason for the missing resource."
          }
        },
        "summary": "Get API key settings.",
        "tags": [
          "Settings"
        ],
        "security": [
          {
            "authorization": []
          }
        ]
      },
      "patch": {
        "callbacks": {},
        "description": "Updates the configuration for API key generation, allowing administrators to change expiration and security settings for API access.",
        "operationId": "TrentoWeb.V1.SettingsController.update_api_key_settings",
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/2.5.0_v1_ApiKeySettingsUpdateRequest"
              }
            }
          },
          "description": "Request body containing updated API key settings and expiration configuration for secure access management.",
          "required": false
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/2.5.0_v1_ApiKeySettings"
                }
              }
            },
            "description": "API key settings have been successfully updated and saved, including expiration and security configuration."
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/2.5.0_v1_NotFound"
                }
              }
            },
            "description": "A detailed error response indicating that the requested resource could not be found, including information about the reason for the missing resource."
          },
          "422": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/2.5.0_v1_UnprocessableEntity"
                }
              }
            },
            "description": "A detailed error response indicating that the server cannot process the request due to semantic errors, such as invalid or missing values in the payload."
          }
        },
        "summary": "Updates the API key settings.",
        "tags": [
          "Settings"
        ],
        "security": [
          {
            "authorization": []
          }
        ]
      }
    },
    "/api/v1/charts/hosts/{id}/cpu": {
      "get": {
        "callbacks": {},
        "description": "Retrieves detailed CPU usage statistics for a specific host over a defined time interval, enabling performance analysis and resource monitoring for infrastructure management.",
        "operationId": "TrentoWeb.V1.ChartController.host_cpu",
        "parameters": [
          {
            "description": "Unique identifier of the host for which CPU usage data is requested. This value must be a valid UUID string.",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "description": "Unique identifier of the host for which CPU usage data is requested. This value must be a valid UUID string.",
              "example": "c1a2b3c4-d5e6-7890-abcd-ef1234567890",
              "format": "uuid",
              "type": "string"
            }
          },
          {
            "description": "Specifies the start of the time interval for the CPU usage chart, formatted as an ISO8601 timestamp (e.g., 2024-01-15T10:00:00Z).",
            "in": "query",
            "name": "from",
            "required": true,
            "schema": {
              "description": "Specifies the start of the time interval for the CPU usage chart, formatted as an ISO8601 timestamp (e.g., 2024-01-15T10:00:00Z).",
              "example": "2024-01-15T10:00:00Z",
              "format": "date-time",
              "type": "string"
            }
          },
          {
            "description": "Specifies the end of the time interval for the CPU usage chart, formatted as an ISO8601 timestamp (e.g., 2024-01-15T12:00:00Z).",
            "in": "query",
            "name": "to",
            "required": true,
            "schema": {
              "description": "Specifies the end of the time interval for the CPU usage chart, formatted as an ISO8601 timestamp (e.g., 2024-01-15T12:00:00Z).",
              "example": "2024-01-15T12:00:00Z",
              "format": "date-time",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/2.5.0_v1_HostCpuChart"
                }
              }
            },
            "description": "Detailed CPU usage statistics for the host over a defined time interval, supporting performance analysis and monitoring."
          }
        },
        "summary": "Get a CPU chart of a host.",
        "tags": [
          "Charts"
        ],
        "security": [
          {
            "authorization": []
          }
        ]
      }
    },
    "/api/v1/hosts/{id}/checks": {
      "post": {
        "callbacks": {},
        "description": "Allows users to select which Checks are eligible for execution on a specific host within the target infrastructure, supporting custom validation workflows.",
        "operationId": "TrentoWeb.V1.HostController.select_checks",
        "parameters": [
          {
            "description": "Unique identifier of the host for which Checks selection is being performed. This value must be a valid UUID string.",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "example": "d59523fc-0497-4b1e-9fdd-14aa7cda77f1",
              "format": "uuid",
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/2.5.0_v1_ChecksSelectionRequest"
              }
            }
          },
          "description": "Checks Selection.",
          "required": false
        },
        "responses": {
          "202": {
            "content": {
              "application/json": {
                "schema": {
                  "example": {},
                  "properties": {},
                  "type": "object"
                }
              }
            },
            "description": "Selected checks for the host have been successfully collected and are ready for execution."
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/2.5.0_v1_NotFound"
                }
              }
            },
            "description": "A detailed error response indicating that the requested resource could not be found, including information about the reason for the missing resource."
          },
          "422": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/2.5.0_v1_UnprocessableEntity"
                }
              }
            },
            "description": "A detailed error response indicating that the server cannot process the request due to semantic errors, such as invalid or missing values in the payload."
          }
        },
        "summary": "Select Checks for a Host.",
        "tags": [
          "Checks"
        ],
        "security": [
          {
            "authorization": []
          }
        ]
      }
    },
    "/api/v1/databases/{id}/hosts/{host_id}/instances/{instance_number}": {
      "delete": {
        "callbacks": {},
        "description": "Removes the specified database instance from the system if it is no longer present, supporting infrastructure cleanup and resource management.",
        "operationId": "TrentoWeb.V1.DatabaseController.delete_database_instance",
        "parameters": [
          {
            "description": "Unique identifier of the database instance to be deleted. This value must be a valid UUID string.",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "example": "d1a2b3c4-d5e6-7890-abcd-ef1234567890",
              "format": "uuid",
              "type": "string"
            }
          },
          {
            "description": "Unique identifier of the host associated with the database instance. This value must be a valid UUID string.",
            "in": "path",
            "name": "host_id",
            "required": true,
            "schema": {
              "example": "d59523fc-0497-4b1e-9fdd-14aa7cda77f1",
              "format": "uuid",
              "type": "string"
            }
          },
          {
            "description": "The instance number of the database to be deleted, used to uniquely identify the specific database instance within the host.",
            "in": "path",
            "name": "instance_number",
            "required": true,
            "schema": {
              "example": "10",
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "The database instance has been deregistered."
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/2.5.0_v1_NotFound"
                }
              }
            },
            "description": "A detailed error response indicating that the requested resource could not be found, including information about the reason for the missing resource."
          },
          "422": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/2.5.0_v1_UnprocessableEntity"
                }
              }
            },
            "description": "A detailed error response indicating that the server cannot process the request due to semantic errors, such as invalid or missing values in the payload."
          }
        },
        "summary": "Delete database instance.",
        "tags": [
          "Target Infrastructure"
        ],
        "security": [
          {
            "authorization": []
          }
        ]
      }
    },
    "/api/v1/users": {
      "get": {
        "callbacks": {},
        "description": "Retrieves a comprehensive list of all users currently registered in the system, supporting user management and administrative tasks.",
        "operationId": "TrentoWeb.V1.UsersController.index",
        "parameters": [],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/2.5.0_v1_UserCollection"
                }
              }
            },
            "description": "Comprehensive list of all users currently registered in the system for user management and administrative tasks."
          }
        },
        "summary": "Gets the list of users in the system.",
        "tags": [
          "User Management",
          "MCP"
        ],
        "security": [
          {
            "authorization": []
          }
        ]
      },
      "post": {
        "callbacks": {},
        "description": "Creates a new user account in the system, supporting onboarding and user management for administrators.",
        "operationId": "TrentoWeb.V1.UsersController.create",
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/2.5.0_v1_UserCreationRequest"
              }
            }
          },
          "description": "Request containing new user account information for onboarding and user management.",
          "required": false
        },
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/2.5.0_v1_UserItem"
                }
              }
            },
            "description": "User account created successfully, returning the new user details for management and review."
          },
          "422": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/2.5.0_v1_UnprocessableEntity"
                }
              }
            },
            "description": "A detailed error response indicating that the server cannot process the request due to semantic errors, such as invalid or missing values in the payload."
          }
        },
        "summary": "Create a new User.",
        "tags": [
          "User Management"
        ],
        "security": [
          {
            "authorization": []
          }
        ]
      }
    },
    "/api/v1/clusters/{id}/operations/{operation}": {
      "post": {
        "callbacks": {},
        "description": "Submits a request to perform a specific operation on a cluster, such as maintenance or configuration changes, supporting automated infrastructure management.",
        "operationId": "TrentoWeb.V1.ClusterController.request_operation",
        "parameters": [
          {
            "description": "Unique identifier of the cluster on which the operation will be performed. This value must be a valid UUID string.",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "example": "c1a2b3c4-d5e6-7890-abcd-ef1234567890",
              "format": "uuid",
              "type": "string"
            }
          },
          {
            "description": "Specifies the type of operation to be performed on the cluster, such as maintenance or configuration change.",
            "in": "path",
            "name": "operation",
            "required": true,
            "schema": {
              "example": "cluster_maintenance_change",
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/2.5.0_v1_ClusterOperationParams"
              }
            }
          },
          "description": "Request containing parameters for the specified cluster operation.",
          "required": false
        },
        "responses": {
          "202": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/2.5.0_v1_OperationAccepted"
                }
              }
            },
            "description": "A detailed response indicating that the requested operation has been accepted for processing, including confirmation and tracking information."
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/2.5.0_v1_Forbidden"
                }
              }
            },
            "description": "A detailed error response indicating forbidden access, including information about insufficient permissions and why the operation could not be performed."
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/2.5.0_v1_NotFound"
                }
              }
            },
            "description": "A detailed error response indicating that the requested resource could not be found, including information about the reason for the missing resource."
          },
          "422": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/2.5.0_v1_UnprocessableEntity"
                }
              }
            },
            "description": "A detailed error response indicating that the server cannot process the request due to semantic errors, such as invalid or missing values in the payload."
          }
        },
        "summary": "Request operation for a Cluster.",
        "tags": [
          "Operations"
        ],
        "security": [
          {
            "authorization": []
          }
        ]
      }
    },
    "/api/v1/clusters/{id}/hosts/{host_id}/operations/{operation}": {
      "post": {
        "callbacks": {},
        "description": "Submits a request to perform a specific operation on a host within a cluster, supporting targeted maintenance or configuration changes for individual hosts.",
        "operationId": "TrentoWeb.V1.ClusterController.request_host_operation",
        "parameters": [
          {
            "description": "Unique identifier of the cluster containing the host. This value must be a valid UUID string.",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "example": "c1a2b3c4-d5e6-7890-abcd-ef1234567890",
              "format": "uuid",
              "type": "string"
            }
          },
          {
            "description": "Unique identifier of the host within the cluster on which the operation will be performed. This value must be a valid UUID string.",
            "in": "path",
            "name": "host_id",
            "required": true,
            "schema": {
              "example": "d59523fc-0497-4b1e-9fdd-14aa7cda77f1",
              "format": "uuid",
              "type": "string"
            }
          },
          {
            "description": "Specifies the type of operation to be performed on the cluster's host, such as enabling or disabling pacemaker services.",
            "in": "path",
            "name": "operation",
            "required": true,
            "schema": {
              "example": "pacemaker_enable",
              "type": "string"
            }
          }
        ],
        "responses": {
          "202": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/2.5.0_v1_OperationAccepted"
                }
              }
            },
            "description": "A detailed response indicating that the requested operation has been accepted for processing, including confirmation and tracking information."
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/2.5.0_v1_Forbidden"
                }
              }
            },
            "description": "A detailed error response indicating forbidden access, including information about insufficient permissions and why the operation could not be performed."
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/2.5.0_v1_NotFound"
                }
              }
            },
            "description": "A detailed error response indicating that the requested resource could not be found, including information about the reason for the missing resource."
          },
          "422": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/2.5.0_v1_UnprocessableEntity"
                }
              }
            },
            "description": "A detailed error response indicating that the server cannot process the request due to semantic errors, such as invalid or missing values in the payload."
          }
        },
        "summary": "Request operation for a Cluster host.",
        "tags": [
          "Operations"
        ],
        "security": [
          {
            "authorization": []
          }
        ]
      }
    },
    "/api/v1/about": {
      "get": {
        "callbacks": {},
        "description": "Returns detailed general information about the current Platform installation, including version and subscription details, to help users and administrators understand the system environment.",
        "operationId": "TrentoWeb.V1.AboutController.info",
        "parameters": [],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/2.5.0_v1_GeneralInformation"
                }
              }
            },
            "description": "Detailed general information about the platform installation, including version and subscription details."
          }
        },
        "summary": "Platform General Information.",
        "tags": [
          "Platform",
          "MCP"
        ],
        "security": [
          {
            "authorization": []
          }
        ]
      }
    },
    "/api/v1/prometheus/targets": {
      "get": {
        "callbacks": {},
        "description": "Retrieves a list of Prometheus exporter targets in the Http Discovery format, supporting monitoring and integration with Prometheus for infrastructure observability.",
        "operationId": "TrentoWeb.V1.PrometheusController.targets",
        "parameters": [],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/2.5.0_v1_HttpSTDTargetList"
                }
              }
            },
            "description": "Comprehensive list of Prometheus exporter targets in Http Discovery format for infrastructure monitoring and integration."
          }
        },
        "summary": "Get Prometheus exporters targets.",
        "tags": [
          "Target Infrastructure",
          "MCP"
        ],
        "security": [
          {
            "authorization": []
          }
        ]
      }
    },
    "/api/v1/hosts/{id}/tags/{value}": {
      "delete": {
        "callbacks": {},
        "description": "Removes a tag from the specified host, supporting resource management and cleanup for infrastructure operations.",
        "operationId": "TrentoWeb.V1.TagsController.remove_tag_from_host",
        "parameters": [
          {
            "description": "Unique identifier of the host from which the tag will be removed. This value must be a valid UUID string.",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "example": "d59523fc-0497-4b1e-9fdd-14aa7cda77f1",
              "format": "uuid",
              "type": "string"
            }
          },
          {
            "description": "The value of the tag to be removed from the host.",
            "in": "path",
            "name": "value",
            "required": true,
            "schema": {
              "example": "production",
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "content": {
              "application/json": {
                "schema": {
                  "example": {},
                  "properties": {},
                  "type": "object"
                }
              }
            },
            "description": "The tag has been removed from the host."
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/2.5.0_v1_BadRequest"
                }
              }
            },
            "description": "A detailed error response indicating a bad request, including information about the client-side issue encountered."
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/2.5.0_v1_NotFound"
                }
              }
            },
            "description": "A detailed error response indicating that the requested resource could not be found, including information about the reason for the missing resource."
          },
          "422": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/2.5.0_v1_UnprocessableEntity"
                }
              }
            },
            "description": "A detailed error response indicating that the server cannot process the request due to semantic errors, such as invalid or missing values in the payload."
          }
        },
        "summary": "Remove tag from host.",
        "tags": [
          "Tags"
        ],
        "security": [
          {
            "authorization": []
          }
        ]
      }
    },
    "/api/v1/hosts/{id}": {
      "delete": {
        "callbacks": {},
        "description": "Removes a host agent from Trento, supporting infrastructure cleanup and resource management for administrators.",
        "operationId": "TrentoWeb.V1.HostController.delete",
        "parameters": [
          {
            "description": "Unique identifier of the host to be deregistered. This value must be a valid UUID string.",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "example": "d59523fc-0497-4b1e-9fdd-14aa7cda77f1",
              "format": "uuid",
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "The host has been deregistered."
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/2.5.0_v1_NotFound"
                }
              }
            },
            "description": "A detailed error response indicating that the requested resource could not be found, including information about the reason for the missing resource."
          },
          "422": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/2.5.0_v1_UnprocessableEntity"
                }
              }
            },
            "description": "A detailed error response indicating that the server cannot process the request due to semantic errors, such as invalid or missing values in the payload."
          }
        },
        "summary": "Deregister a host.",
        "tags": [
          "Target Infrastructure"
        ],
        "security": [
          {
            "authorization": []
          }
        ]
      }
    },
    "/api/v1/clusters/{id}/tags/{value}": {
      "delete": {
        "callbacks": {},
        "description": "Removes a tag from the specified cluster, supporting resource management and cleanup for infrastructure operations.",
        "operationId": "TrentoWeb.V1.TagsController.remove_tag_from_cluster",
        "parameters": [
          {
            "description": "Unique identifier of the cluster from which the tag will be removed. This value must be a valid UUID string.",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "example": "c1a2b3c4-d5e6-7890-abcd-ef1234567890",
              "format": "uuid",
              "type": "string"
            }
          },
          {
            "description": "The value of the tag to be removed from the cluster.",
            "in": "path",
            "name": "value",
            "required": true,
            "schema": {
              "example": "production",
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "content": {
              "application/json": {
                "schema": {
                  "example": {},
                  "properties": {},
                  "type": "object"
                }
              }
            },
            "description": "The tag has been removed from the cluster."
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/2.5.0_v1_BadRequest"
                }
              }
            },
            "description": "A detailed error response indicating a bad request, including information about the client-side issue encountered."
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/2.5.0_v1_NotFound"
                }
              }
            },
            "description": "A detailed error response indicating that the requested resource could not be found, including information about the reason for the missing resource."
          },
          "422": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/2.5.0_v1_UnprocessableEntity"
                }
              }
            },
            "description": "A detailed error response indicating that the server cannot process the request due to semantic errors, such as invalid or missing values in the payload."
          }
        },
        "summary": "Remove tag from cluster.",
        "tags": [
          "Tags"
        ],
        "security": [
          {
            "authorization": []
          }
        ]
      }
    },
    "/api/v1/clusters/{id}/tags": {
      "post": {
        "callbacks": {},
        "description": "Adds a new tag to the specified cluster, supporting resource categorization and management for infrastructure operations.",
        "operationId": "TrentoWeb.V1.TagsController.add_tag_to_cluster",
        "parameters": [
          {
            "description": "Unique identifier of the cluster to which the tag will be added. This value must be a valid UUID string.",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "example": "c1a2b3c4-d5e6-7890-abcd-ef1234567890",
              "format": "uuid",
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "example": {
                  "value": "production"
                },
                "properties": {
                  "value": {
                    "example": "production",
                    "type": "string"
                  }
                },
                "type": "object"
              }
            }
          },
          "description": "Request containing tag value to be added to the specified cluster for resource categorization and management.",
          "required": false
        },
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "example": {},
                  "properties": {},
                  "type": "object"
                }
              }
            },
            "description": "Tag has been successfully added to the specified cluster, supporting resource categorization and management."
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/2.5.0_v1_BadRequest"
                }
              }
            },
            "description": "A detailed error response indicating a bad request, including information about the client-side issue encountered."
          },
          "422": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/2.5.0_v1_UnprocessableEntity"
                }
              }
            },
            "description": "A detailed error response indicating that the server cannot process the request due to semantic errors, such as invalid or missing values in the payload."
          }
        },
        "summary": "Add tag to cluster.",
        "tags": [
          "Tags"
        ],
        "security": [
          {
            "authorization": []
          }
        ]
      }
    },
    "/api/v1/profile": {
      "get": {
        "callbacks": {},
        "description": "Returns the profile information of the currently authenticated user, supporting account management and personalization features.",
        "operationId": "TrentoWeb.V1.ProfileController.show",
        "parameters": [],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/2.5.0_v1_UserProfile"
                }
              }
            },
            "description": "Profile information of the currently authenticated user, supporting account management and personalization features."
          }
        },
        "summary": "Get profile.",
        "tags": [
          "Profile",
          "MCP"
        ],
        "security": [
          {
            "authorization": []
          }
        ]
      },
      "patch": {
        "callbacks": {},
        "description": "Updates the profile of the currently authenticated user with new information, supporting account management and personalization features.",
        "operationId": "TrentoWeb.V1.ProfileController.update",
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/2.5.0_v1_UserProfileUpdateRequest"
              }
            }
          },
          "description": "Request containing updated profile information for the currently authenticated user.",
          "required": false
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/2.5.0_v1_UserProfile"
                }
              }
            },
            "description": "Profile update was successful, returning the updated user profile information for account management."
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/2.5.0_v1_Forbidden"
                }
              }
            },
            "description": "A detailed error response indicating forbidden access, including information about insufficient permissions and why the operation could not be performed."
          },
          "422": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/2.5.0_v1_UnprocessableEntity"
                }
              }
            },
            "description": "A detailed error response indicating that the server cannot process the request due to semantic errors, such as invalid or missing values in the payload."
          }
        },
        "summary": "Update the current user profile.",
        "tags": [
          "Profile"
        ],
        "security": [
          {
            "authorization": []
          }
        ]
      }
    },
    "/api/v1/charts/hosts/{id}/memory": {
      "get": {
        "callbacks": {},
        "description": "Retrieves detailed memory usage statistics for a specific host over a defined time interval, supporting infrastructure monitoring and troubleshooting for system administrators.",
        "operationId": "TrentoWeb.V1.ChartController.host_memory",
        "parameters": [
          {
            "description": "Unique identifier of the host for which memory usage data is requested. This value must be a valid UUID string.",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "description": "Unique identifier of the host for which memory usage data is requested. This value must be a valid UUID string.",
              "example": "c1a2b3c4-d5e6-7890-abcd-ef1234567890",
              "format": "uuid",
              "type": "string"
            }
          },
          {
            "description": "Specifies the start of the time interval for the memory usage chart, formatted as an ISO8601 timestamp (e.g., 2024-01-15T10:00:00Z).",
            "in": "query",
            "name": "from",
            "required": true,
            "schema": {
              "description": "Specifies the start of the time interval for the memory usage chart, formatted as an ISO8601 timestamp (e.g., 2024-01-15T10:00:00Z).",
              "example": "2024-01-15T10:00:00Z",
              "format": "date-time",
              "type": "string"
            }
          },
          {
            "description": "Specifies the end of the time interval for the memory usage chart, formatted as an ISO8601 timestamp (e.g., 2024-01-15T12:00:00Z).",
            "in": "query",
            "name": "to",
            "required": true,
            "schema": {
              "description": "Specifies the end of the time interval for the memory usage chart, formatted as an ISO8601 timestamp (e.g., 2024-01-15T12:00:00Z).",
              "example": "2024-01-15T12:00:00Z",
              "format": "date-time",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/2.5.0_v1_HostMemoryChart"
                }
              }
            },
            "description": "Detailed memory usage statistics for the host over a defined time interval, supporting infrastructure monitoring and troubleshooting."
          }
        },
        "summary": "Get a Memory chart of a host.",
        "tags": [
          "Charts"
        ],
        "security": [
          {
            "authorization": []
          }
        ]
      }
    },
    "/api/v1/settings/activity_log": {
      "get": {
        "callbacks": {},
        "description": "Retrieves the current configuration for the Activity Log, including retention period and related settings, supporting compliance and audit requirements.",
        "operationId": "TrentoWeb.V1.SettingsController.get_activity_log_settings",
        "parameters": [],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/2.5.0_v1_ActivityLogSettings"
                }
              }
            },
            "description": "A comprehensive set of activity log settings and configuration details for compliance and audit requirements."
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/2.5.0_v1_NotFound"
                }
              }
            },
            "description": "A detailed error response indicating that the requested resource could not be found, including information about the reason for the missing resource."
          }
        },
        "summary": "Fetches the Activity Log settings.",
        "tags": [
          "Settings",
          "MCP"
        ],
        "security": [
          {
            "authorization": []
          }
        ]
      },
      "put": {
        "callbacks": {},
        "description": "Updates the configuration for the Activity Log, including retention period and related settings, supporting compliance and audit requirements.",
        "operationId": "TrentoWeb.V1.SettingsController.update_activity_log_settings",
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/2.5.0_v1_ActivityLogSettings"
              }
            }
          },
          "description": "Request body containing updated activity log settings, including retention period and compliance configuration.",
          "required": false
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/2.5.0_v1_ActivityLogSettings"
                }
              }
            },
            "description": "Activity Log settings have been successfully updated and saved, including retention period and compliance configuration."
          },
          "422": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/2.5.0_v1_UnprocessableEntity"
                }
              }
            },
            "description": "A detailed error response indicating that the server cannot process the request due to semantic errors, such as invalid or missing values in the payload."
          }
        },
        "summary": "Updates the Activity Log settings.",
        "tags": [
          "Settings"
        ],
        "security": [
          {
            "authorization": []
          }
        ]
      }
    },
    "/api/v1/sap_systems/{id}/hosts/{host_id}/instances/{instance_number}": {
      "delete": {
        "callbacks": {},
        "description": "Removes the specified application instance from the system if it is no longer present, supporting infrastructure cleanup and resource management.",
        "operationId": "TrentoWeb.V1.SapSystemController.delete_application_instance",
        "parameters": [
          {
            "description": "Unique identifier of the SAP system associated with the application instance to be deleted. This value must be a valid UUID string.",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "example": "d59523fc-0497-4b1e-9fdd-14aa7cda77f1",
              "format": "uuid",
              "type": "string"
            }
          },
          {
            "description": "Unique identifier of the host associated with the application instance. This value must be a valid UUID string.",
            "in": "path",
            "name": "host_id",
            "required": true,
            "schema": {
              "example": "d59523fc-0497-4b1e-9fdd-14aa7cda77f1",
              "format": "uuid",
              "type": "string"
            }
          },
          {
            "description": "The instance number of the SAP application to be deleted, used to uniquely identify the specific application instance within the host.",
            "in": "path",
            "name": "instance_number",
            "required": true,
            "schema": {
              "example": "10",
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "The application instance has been deregistered."
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/2.5.0_v1_NotFound"
                }
              }
            },
            "description": "A detailed error response indicating that the requested resource could not be found, including information about the reason for the missing resource."
          },
          "422": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/2.5.0_v1_UnprocessableEntity"
                }
              }
            },
            "description": "A detailed error response indicating that the server cannot process the request due to semantic errors, such as invalid or missing values in the payload."
          }
        },
        "summary": "Delete application instance.",
        "tags": [
          "Target Infrastructure"
        ],
        "security": [
          {
            "authorization": []
          }
        ]
      }
    },
    "/api/v1/sap_systems/{id}/tags": {
      "post": {
        "callbacks": {},
        "description": "Adds a new tag to the specified SAP system, supporting resource categorization and management for infrastructure operations.",
        "operationId": "TrentoWeb.V1.TagsController.add_tag_to_sap_system",
        "parameters": [
          {
            "description": "Unique identifier of the SAP system to which the tag will be added. This value must be a valid UUID string.",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "example": "d59523fc-0497-4b1e-9fdd-14aa7cda77f1",
              "format": "uuid",
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "value": {
                    "example": "production",
                    "type": "string"
                  }
                },
                "type": "object"
              }
            }
          },
          "description": "Request containing tag value to be added to the specified SAP system for resource categorization and management.",
          "required": false
        },
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "example": {},
                  "properties": {},
                  "type": "object"
                }
              }
            },
            "description": "Tag has been successfully added to the specified SAP system, supporting resource categorization and management."
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/2.5.0_v1_BadRequest"
                }
              }
            },
            "description": "A detailed error response indicating a bad request, including information about the client-side issue encountered."
          },
          "422": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/2.5.0_v1_UnprocessableEntity"
                }
              }
            },
            "description": "A detailed error response indicating that the server cannot process the request due to semantic errors, such as invalid or missing values in the payload."
          }
        },
        "summary": "Add tag to SAP system.",
        "tags": [
          "Tags"
        ],
        "security": [
          {
            "authorization": []
          }
        ]
      }
    },
    "/api/v1/hosts/{id}/operations/{operation}": {
      "post": {
        "callbacks": {},
        "description": "Submits a request to perform a specific operation on a host, such as restart or configuration change, supporting automated infrastructure management.",
        "operationId": "TrentoWeb.V1.HostController.request_operation",
        "parameters": [
          {
            "description": "Unique identifier of the host on which the operation will be performed. This value must be a valid UUID string.",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "example": "d59523fc-0497-4b1e-9fdd-14aa7cda77f1",
              "format": "uuid",
              "type": "string"
            }
          },
          {
            "description": "Specifies the type of operation to be performed on the host, such as restart or configuration change.",
            "in": "path",
            "name": "operation",
            "required": true,
            "schema": {
              "example": "restart",
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/2.5.0_v1_HostOperationParams"
              }
            }
          },
          "description": "Request containing parameters for the specified host operation.",
          "required": false
        },
        "responses": {
          "202": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/2.5.0_v1_OperationAccepted"
                }
              }
            },
            "description": "A detailed response indicating that the requested operation has been accepted for processing, including confirmation and tracking information."
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/2.5.0_v1_Forbidden"
                }
              }
            },
            "description": "A detailed error response indicating forbidden access, including information about insufficient permissions and why the operation could not be performed."
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/2.5.0_v1_NotFound"
                }
              }
            },
            "description": "A detailed error response indicating that the requested resource could not be found, including information about the reason for the missing resource."
          },
          "422": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/2.5.0_v1_UnprocessableEntity"
                }
              }
            },
            "description": "A detailed error response indicating that the server cannot process the request due to semantic errors, such as invalid or missing values in the payload."
          }
        },
        "summary": "Request operation for a Host.",
        "tags": [
          "Operations"
        ],
        "security": [
          {
            "authorization": []
          }
        ]
      }
    },
    "/api/v1/settings/suse_manager": {
      "delete": {
        "callbacks": {},
        "description": "Removes all saved credentials and configuration for SUSE Manager integration, supporting secure decommissioning and access management.",
        "operationId": "TrentoWeb.V1.SettingsController.delete_suse_manager_settings",
        "parameters": [],
        "responses": {
          "204": {
            "description": "All SUSE Manager credentials and configuration have been successfully cleared from the system."
          }
        },
        "summary": "Clears the SUSE Manager settings.",
        "tags": [
          "Settings"
        ],
        "security": [
          {
            "authorization": []
          }
        ]
      },
      "get": {
        "callbacks": {},
        "description": "Retrieves the saved configuration and credentials for SUSE Manager integration, supporting automated software management and updates.",
        "operationId": "TrentoWeb.V1.SettingsController.get_suse_manager_settings",
        "parameters": [],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/2.5.0_v1_SuseManagerSettings"
                }
              }
            },
            "description": "A comprehensive set of SUSE Manager integration credentials and configuration details for automated software management."
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/2.5.0_v1_NotFound"
                }
              }
            },
            "description": "A detailed error response indicating that the requested resource could not be found, including information about the reason for the missing resource."
          }
        },
        "summary": "Gets the SUSE Manager Settings.",
        "tags": [
          "Settings",
          "MCP"
        ],
        "security": [
          {
            "authorization": []
          }
        ]
      },
      "patch": {
        "callbacks": {},
        "description": "Updates the configuration and credentials for SUSE Manager integration, supporting ongoing software management and updates.",
        "operationId": "TrentoWeb.V1.SettingsController.update_suse_manager_settings",
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/2.5.0_v1_UpdateSuseManagerSettingsRequest"
              }
            }
          },
          "description": "Request body containing updated SUSE Manager credentials and configuration for ongoing secure integration and software management.",
          "required": false
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/2.5.0_v1_SuseManagerSettings"
                }
              }
            },
            "description": "SUSE Manager settings have been successfully updated and saved, including credentials and configuration for secure integration."
          },
          "422": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/2.5.0_v1_UnprocessableEntity"
                }
              }
            },
            "description": "A detailed error response indicating that the server cannot process the request due to semantic errors, such as invalid or missing values in the payload."
          }
        },
        "summary": "Updates the SUSE Manager settings.",
        "tags": [
          "Settings"
        ],
        "security": [
          {
            "authorization": []
          }
        ]
      },
      "post": {
        "callbacks": {},
        "description": "Saves new credentials and configuration for SUSE Manager integration, enabling secure software management and updates.",
        "operationId": "TrentoWeb.V1.SettingsController.save_suse_manager_settings",
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/2.5.0_v1_SaveSuseManagerSettingsRequest"
              }
            }
          },
          "description": "Request body containing new SUSE Manager credentials and configuration for secure integration and software management.",
          "required": false
        },
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/2.5.0_v1_SuseManagerSettings"
                }
              }
            },
            "description": "SUSE Manager settings have been successfully saved, including credentials and configuration for secure integration."
          },
          "422": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/2.5.0_v1_UnprocessableEntity"
                }
              }
            },
            "description": "A detailed error response indicating that the server cannot process the request due to semantic errors, such as invalid or missing values in the payload."
          }
        },
        "summary": "Saves the SUSE Manager settings.",
        "tags": [
          "Settings"
        ],
        "security": [
          {
            "authorization": []
          }
        ]
      },
      "put": {
        "callbacks": {},
        "description": "Updates the configuration and credentials for SUSE Manager integration, supporting ongoing software management and updates.",
        "operationId": "TrentoWeb.V1.SettingsController.put_suse_manager_settings",
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/2.5.0_v1_UpdateSuseManagerSettingsRequest"
              }
            }
          },
          "description": "Request body containing updated SUSE Manager credentials and configuration for ongoing secure integration and software management.",
          "required": false
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/2.5.0_v1_SuseManagerSettings"
                }
              }
            },
            "description": "SUSE Manager settings have been successfully updated and saved, including credentials and configuration for secure integration."
          },
          "422": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/2.5.0_v1_UnprocessableEntity"
                }
              }
            },
            "description": "A detailed error response indicating that the server cannot process the request due to semantic errors, such as invalid or missing values in the payload."
          }
        },
        "summary": "Updates the SUSE Manager settings.",
        "tags": [
          "Settings"
        ],
        "security": [
          {
            "authorization": []
          }
        ]
      }
    },
    "/api/v1/sap_systems/{id}/tags/{value}": {
      "delete": {
        "callbacks": {},
        "description": "Removes a tag from the specified SAP system, supporting resource management and cleanup for infrastructure operations.",
        "operationId": "TrentoWeb.V1.TagsController.remove_tag_from_sap_system",
        "parameters": [
          {
            "description": "Unique identifier of the SAP system from which the tag will be removed. This value must be a valid UUID string.",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "example": "d59523fc-0497-4b1e-9fdd-14aa7cda77f1",
              "format": "uuid",
              "type": "string"
            }
          },
          {
            "description": "The value of the tag to be removed from the SAP system.",
            "in": "path",
            "name": "value",
            "required": true,
            "schema": {
              "example": "production",
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "The tag has been removed from the SAP system."
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/2.5.0_v1_BadRequest"
                }
              }
            },
            "description": "A detailed error response indicating a bad request, including information about the client-side issue encountered."
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/2.5.0_v1_NotFound"
                }
              }
            },
            "description": "A detailed error response indicating that the requested resource could not be found, including information about the reason for the missing resource."
          },
          "422": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/2.5.0_v1_UnprocessableEntity"
                }
              }
            },
            "description": "A detailed error response indicating that the server cannot process the request due to semantic errors, such as invalid or missing values in the payload."
          }
        },
        "summary": "Remove tag from SAP system.",
        "tags": [
          "Tags"
        ],
        "security": [
          {
            "authorization": []
          }
        ]
      }
    },
    "/api/v1/sap_systems/health": {
      "get": {
        "callbacks": {},
        "description": "Returns an aggregated health overview of all discovered SAP Systems and their components on the target infrastructure, supporting monitoring, diagnostics, and operational decision-making for administrators.",
        "operationId": "TrentoWeb.V1.HealthOverviewController.overview",
        "parameters": [],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/2.5.0_v1_HealthOverview"
                }
              }
            },
            "description": "An overview of the health of the discovered SAP Systems and their components."
          }
        },
        "summary": "Health overview of the discovered SAP Systems.",
        "tags": [
          "Target Infrastructure",
          "MCP"
        ],
        "security": [
          {
            "authorization": []
          }
        ]
      }
    },
    "/api/v1/hosts": {
      "get": {
        "callbacks": {},
        "description": "Retrieves a comprehensive list of all hosts discovered on the target infrastructure, supporting monitoring and management tasks for administrators.",
        "operationId": "TrentoWeb.V1.HostController.list",
        "parameters": [],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/2.5.0_v1_HostsCollection"
                }
              }
            },
            "description": "Comprehensive list of all hosts discovered on the target infrastructure for monitoring and management."
          }
        },
        "summary": "List hosts.",
        "tags": [
          "Target Infrastructure",
          "MCP"
        ],
        "security": [
          {
            "authorization": []
          }
        ]
      }
    },
    "/api/v1/software_updates/errata_details/{advisory_name}": {
      "get": {
        "callbacks": {},
        "description": "Retrieves detailed information for a specified advisory, including CVEs, bug fixes, affected packages, and systems, supporting vulnerability management and compliance.",
        "operationId": "TrentoWeb.V1.SUSEManagerController.errata_details",
        "parameters": [
          {
            "description": "The name of the advisory for which details are being requested, such as SUSE-2025-1234.",
            "in": "path",
            "name": "advisory_name",
            "required": true,
            "schema": {
              "example": "SUSE-2025-1234",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/2.5.0_v1_ErrataDetailsResponse"
                }
              }
            },
            "description": "Detailed information about the specified advisory, including CVEs, bug fixes, affected packages, and systems."
          }
        },
        "summary": "Gets the details for an advisory.",
        "tags": [
          "Target Infrastructure",
          "MCP"
        ],
        "security": [
          {
            "authorization": []
          }
        ]
      }
    },
    "/api/v1/hosts/{id}/heartbeat": {
      "post": {
        "callbacks": {},
        "description": "Allows agents to signal their active status to Trento, supporting health monitoring and availability tracking for infrastructure management.",
        "operationId": "TrentoWeb.V1.HostController.heartbeat",
        "parameters": [
          {
            "description": "Unique identifier of the host agent sending the heartbeat signal. This value must be a valid UUID string.",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "example": "d59523fc-0497-4b1e-9fdd-14aa7cda77f1",
              "format": "uuid",
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "content": {
              "application/json": {
                "schema": {
                  "example": {},
                  "properties": {},
                  "type": "object"
                }
              }
            },
            "description": "Heartbeat signal successfully updated for the host agent, supporting health monitoring and availability tracking."
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/2.5.0_v1_BadRequest"
                }
              }
            },
            "description": "A detailed error response indicating a bad request, including information about the client-side issue encountered."
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/2.5.0_v1_NotFound"
                }
              }
            },
            "description": "A detailed error response indicating that the requested resource could not be found, including information about the reason for the missing resource."
          },
          "422": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/2.5.0_v1_UnprocessableEntity"
                }
              }
            },
            "description": "A detailed error response indicating that the server cannot process the request due to semantic errors, such as invalid or missing values in the payload."
          }
        },
        "summary": "Signal that an agent is alive.",
        "tags": [
          "Agent"
        ],
        "security": [
          {
            "authorization": []
          }
        ]
      }
    },
    "/api/v1/abilities": {
      "get": {
        "callbacks": {},
        "description": "Returns a comprehensive list of all abilities currently available in the system, allowing clients to understand supported actions and permissions for user management and access control.",
        "operationId": "TrentoWeb.V1.AbilityController.index",
        "parameters": [],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/2.5.0_v1_AbilityCollection"
                }
              }
            },
            "description": "Comprehensive list of all abilities available for user management and access control in the system."
          }
        },
        "summary": "Gets the list of abilities in the system.",
        "tags": [
          "User Management"
        ],
        "security": [
          {
            "authorization": []
          }
        ]
      }
    },
    "/api/v1/settings/suse_manager/test": {
      "post": {
        "callbacks": {},
        "description": "Tests the connection to SUSE Manager using the currently saved credentials and configuration, supporting validation and troubleshooting of integration settings.",
        "operationId": "TrentoWeb.V1.SettingsController.test_suse_manager_settings",
        "parameters": [],
        "responses": {
          "200": {
            "description": "The connection with SUSE Manager was successful."
          },
          "422": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/2.5.0_v1_UnprocessableEntity"
                }
[...]
